@model PhiloWellnessMVC.Models.WellnessModels.WellnessCreateViewModel

@{
    ViewData["Title"] = "Create Wellness Record";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<h1>Create Wellness Record</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelfRating" class="control-label"></label>
                <input asp-for="SelfRating" class="form-control" />
                <span asp-validation-for="SelfRating" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FacultyRating" class="control-label"></label>
                <input asp-for="FacultyRating" class="form-control" />
                <span asp-validation-for="FacultyRating" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Incidents" class="control-label"></label>
                <textarea asp-for="Incidents" class="form-control"></textarea>
                <span asp-validation-for="Incidents" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <a asp-action="Index" class="text-dark">Back To Wellness Records List</a>
        </div>
    </div>
</div>
