/* Base Font Size */
html {
  font-size: 17px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Font and Focus States */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, 
.form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Global Styles */
html {
  position: relative;
  min-height: 100%;
}

/* Typography */
body {
  margin-bottom: 60px;
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
  color: #333; /* a neutral, readable text color */
}

/* Geometric Accents */
.geometric-accent {
  height: 4px;
  background: linear-gradient(90deg, #00aaff, #00ff6a); 
  margin-bottom: 20px;
}

/* Page Sections */
.page-section {
  border-top: 1px solid #e0e0e0; /* Subtle line at the top */
  border-bottom: 1px solid #e0e0e0; /* Subtle line at the bottom */
  margin-top: 20px;
  padding-top: 20px;
}

/* Background and Content Styling */
body {
  background: #f0f4f7; 
}

.header, .footer {
  background-color: #002855; 
  color: white;
  padding: 10px 20px;
}

.content {
  background-color: white; /* Clean white background for content sections */
  padding: 20px;
  border-radius: 8px; /* Soft rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align items horizontally */
  gap: 30px; /* Increase space between the boxes */
  margin-top: 30px; /* Space above the link boxes */
}

.link-box {
  display: block;
  padding: 20px 35px; /* Increase padding inside the boxes */
  border-radius: 15px; /* Slightly larger rounded corners */
  background-color: #f8f9fa; /* Light background color for boxes */
  color: #007bff; /* Text color */
  text-decoration: none; /* Remove underline from links */
  font-size: 18px; /* Larger font size */
  font-weight: 600; /* Slightly bolder font weight */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Slightly more pronounced shadow */
  transition: background-color 0.3s, color 0.3s; /* Smooth color transitions */
}

.link-box:hover {
  background-color: #007bff; /* Background color on hover */
  color: #ffffff; /* Text color on hover */
  text-decoration: none; /* Ensure text decoration is not overridden */
}

